*.class

#package

*.war

*.ear

#kdiff3

*.orig

#maven

target/

#eclipse

.settings/

.project

.classpath

#idea

.idea

/.idea/

*.ipr

*.iml

*.iws

#temp

*.log

*.cache

*.diff

*.patch

*.tmp

#system

.DS_store

Thumbs.db